/* :root {
    --azulE: #0D2859;
    --azulC: #2E60AB;
    --amarelo: #FECA06;
    --branco: #ffffff;
    --preto: #000000;
} */
:root {
    --cor-1: #f72812;
    --cor-2: #ca1e0e;
    --cor-3: #9e1409;
    --cor-4: #710a05;
    --cor-5: #FFD600;
    --cor-6: #F9A01B;
    --cor-7: #42675a;
    --cor-8: #ffffff;
    --cor-9: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aleo', serif;
    scroll-behavior: smooth;
}

a {
    color: var(--preto);
}

.modal-backdrop.fade.show {
    display: none;
}