ul.lista {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}
.restaurantes {
    background: var(--cor-3);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px 20px 13px 13px;
    color: var(--cor-5);
    box-shadow: 0px 0px 10px 0px var(--cor-3);
}
img#logoRestaurante {
    border-radius: 7%;
}
p {
    margin: 0;
}
.modal-content {
    color: var(--cor-1) !important;
    background-color: var(--cor-4) !important;
}
button.btn.btn-secondary {
    background: var(--cor-3) !important;
    color: var(--cor-5);
    border-color: transparent;
}
a {
    text-decoration: none !important;
    color: var(--cor-8) !important;
}
button.btn.btn-primary.w-100 {
    background: var(--cor-2) !important;
    color: var(--cor-5);
    transition: border .1s ease-in-out;
}
button.btn.btn-primary.w-100:hover {
    background: transparent !important;
    border: 2px solid var(--cor-5) !important;
}
button.btn.btn-primary {
    background: var(--cor-2) !important;
    border: none !important;
}
.btn-close {
    --bs-btn-close-bg: url(../img/x.svg) !important;
}
@media screen and (max-width: 768px) {
    ul.lista {
        flex-direction: column;
    }
    li.li_Restaurantes {
        border: none;
        margin: 0;
        padding: 0;
    }
    section#conteudo .carrinho ul#ul_carrinho li#li_carrinho .produtoCarrinho {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: transparent;
    }
}